.DS_Store
node_modules
.cache
yarn-error.log
yarn.lock
package-lock.json
app.yaml
/dist
sketches/audiocontroller
sketches/bodytranscriber
sketches/collagecreator
sketches/colormapper
sketches/imagemapper
sketches/movementmultiplier
sketches/shapeshifter
sketches/texttrailer
assets/
